{% if not is_granted("edit", product) %}
    {# Available stock = quantity in current user cart + total quantity - quantity in other users cart #}
    {% if item is not defined %}
        {# Called from Product pages, product must be defined here. item.quantity = 0 in this case. #}
        {% set availableStock = product.quantity - product.lockedQuantity %}
    {% endif %}
    {# Find out if user has the product in their cart. #}
    {% set isProductInCart = false %}
    {% set itemId = -1 %}
    {% if app.user %}
        {% for cartItem in app.user.cartItems if not isProductInCart %}
            {% if cartItem.product is same as(product) %}
                {% set isProductInCart = true %}
                {% set itemId = cartItem.id %}
            {% endif %}
        {% endfor %}
    {% else %}
        {% set cart = app.session.get("cart") %}
        {% for cartItem in cart if not isProductInCart %}
            {% if cartItem.id == product.id %}
                {% set isProductInCart = true %}
                {% set itemId = product.id %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if isProductInCart %}
        {% if app.request.pathInfo is same as("/cart")%}
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text">#</span>
                </div>
                <input id="quantity_{{ itemId }}" type="number" class="form-control" min="1" max="{{ availableStock }}" value="{{ item.quantity }}">
                <div class="input-group-append">
                    <input id="button" value="Edit Count" type="submit" onclick="editCartItem({{ itemId }})" class="btn btn-primary">
                </div>
                <div class="input-group-append">
                    <a class="btn btn-secondary" href="{{ path('cart_deleteItem', {"id": itemId}) }}" >Remove from Cart</a>
                </div>
            </div>
        {% else %}
            <a style="margin-left:40px" href="{{ path('cart_deleteItem', {"id": itemId}) }}" class="btn btn-secondary">Remove from Cart</a>
        {% endif %}
    {% else %}
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text">#</span>
                </div>
                <input id="quantity_{{ product.id }}" type="number" class="form-control" min="1" max="{{ availableStock }}">
                <div class="input-group-append">
                    <input id="button" type="submit" value="Add to Cart" onclick="editCartItem({{ product.id }}, true)" class="btn btn-primary">
                </div>
            </div>
    {% endif %}
{% endif %}

