{% if not is_granted("edit", product) %}
    {# Available stock = quantity in current user cart + total quantity - quantity in other users cart #}
    {% if item is defined %}
        {# Called from Cart pages, item must be defined here. #}
        {% set availableStock = item.quantity + item.product.quantity - item.product.lockedQuantity %}
    {% else %}
        {# Called from Product pages, product must be defined here. item.quantity = 0 in this case. #}
        {% set availableStock = product.quantity - product.lockedQuantity %}
        {{ dump(availableStock) }}
    {% endif %}
    {# Find out if user has the product in their cart. #}
    {% set isProductInCart = false %}
    {% set itemId = -1 %}
    {% for cartItem in app.user.cartItems if not isProductInCart %}
        {% if cartItem.product is same as(product) %}
            {% set isProductInCart = true %}
            {% set itemId = cartItem.id %}
        {% endif %}
    {% endfor %}
    {% if isProductInCart %}
        {% if app.request.pathInfo is same as("/cart")%}
        <div class="input-group mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text">#</span>
            </div>
            <input id="quantity_{{ itemId }}" type="number" class="form-control" min="1" max="{{ availableStock }}" value="{{ item.quantity }}">
            <div class="input-group-append">
                <button id="button" type="button" onclick="editCartItem({{ itemId }})" class="btn btn-primary">Edit Count</button>
            </div>
            <div class="input-group-append">
                <a class="btn btn-secondary" href="{{ path('cart_deleteItem', {"cartItem": itemId}) }}" >Remove from Cart</a>
            </div>
        </div>
        {% else %}
            <a style="margin-left:40px" href="{{ path('cart_deleteItem', {"cartItem": itemId}) }}" class="btn btn-secondary">Remove from Cart</a>
        {% endif %}
    {% else %}
        <form>
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text">#</span>
                </div>
                {% if product is defined %}
                    {% set productId = product.id %}
                {% else %}
                    {% set productId = item.product.id %}
                {% endif %}
                <input id="quantity_{{ productId }}" type="number" class="form-control" min="1" max="{{ availableStock }}">
                <div class="input-group-append">
                    <button id="button" type="button" onclick="addToCart({{ productId }})" class="btn btn-primary">Add to Cart</button>
                </div>
            </div>
        </form>
    {% endif %}
{% endif %}

