{% block body %}
    {# Available stock = quantity in current user cart + total quantity - quantity in other users cart #}
    {% set availableStock = item.quantity + item.product.quantity - item.product.lockedQuantity %}
    <div class="media text-muted pt-3">
        <span class="d-block">
            <ul>
               <a href="{{ path('product_product', {'id': item.product.id }) }}">
                   <li class="text-xl-left">Product: {{ item.product.name }}</li>
                   <li class="text-xl-left">Cart Price: ${{ item.price }}</li>
                   <li class="text-xl-left">Current Price: ${{ item.product.price }}</li>
                   <li class="text-xl-left">By: {{ item.product.owner.username }}</li>
                   <li class="text-xl-left">Count: {{ item.quantity }}</li>
                   <li class="text-xl-left">Available Stock: {{ availableStock }}</li>
               </a>
            </ul>
            <br/>
            {{ include ("cart/cart-item-shift-button.html.twig", {"product": item.product}) }}
        </span>
    </div>
{% endblock %}