{% extends "base.html.twig" %}

{% block body %}
    <h4>Available Products</h4>
    <hr>
        <div>
            <form>
                <label>
                    <input name="q" type="search" value={{ filterData["value"] }}>
                    <input name="priceMin" type="number" min="0" max="10000" value={{ filterData["priceMin"] }}>
                    <input name="priceMax" type="number" min="0" max="10000" value={{ filterData["priceMax"] }}>
                    <select name="user">
                        <option value="">Anyone</option>
                        {% for user in users %}
                            {% if user.username == filterData["user"] %}
                                <option value="{{ user.username }}" selected>{{ user.username }}</option>
                            {% else %}
                                <option value="{{ user.username }}">{{ user.username }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </label>
                <label>
                    <select name="type">
                        {% for tableName, displayName in types %}
                            {% if tableName == filterData["sortType"] %}
                                <option value="{{ tableName }}" selected>{{ displayName }}</option>
                            {% else %}
                                <option value="{{ tableName }}">{{ displayName }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <select name="order">
                        {% for orderType, displayName in orders %}
                            {% if orderType == filterData["sortOrder"] %}
                                <option value="{{ orderType }}" selected>{{ displayName }}</option>
                            {% else %}
                                <option value="{{ orderType }}">{{ displayName }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="Find">
                    <a href=
                    "{{ path('product_index', {
                        'pagination':  pagination,
                        'users': users,
                        'filterData': {},
                        'types': types,
                        'orders': orders}) }} ">Clear Filter</a>
                </label>
            </form>
        </div>
    <hr>
    {{ knp_pagination_render(pagination) }}
    <hr>
    <table>
        <ul style="padding-left:0px">
            {% if pagination|length > 0 %}
                {% for product in pagination %}
                    <li style="list-style-type:none; margin-bottom:30px; margin-top:30px">
                        {{ include("product/product-short.html.twig", {"product": product}) }}
                    </li>
                    <hr>
                {% endfor %}
        </ul>
            {% else %}
                It looks like there are no products available right now!
            {% endif %}
    </table>
    <hr>
    {{ knp_pagination_render(pagination) }}
{% endblock %}