{% block body %}
    <div class="media text-muted pt-3">
        <span class="d-block">
            <ul>
               <a href="{{ path('product_product', {'id': product.id}) }}">
                   <div>
                       <li class="text-xl-left">Product: {{ product.name }}</li>
                       <li class="text-xl-left">Price: ${{ product.price }}</li>
                       <li class="text-xl-left">By: {{ product.owner.username }}</li>
                       <li class="text-xl-left">Available stock: {{ product.getAvailableQuantity() }}</li>
                       <li class="text-xl-left">In stock: {{ product.quantity }}</li>
                   </div>
               </a>
            </ul>
            <br>
            {% if is_granted("edit", product) %}
                <a style="margin-left:40px" href="{{ path('product_edit', {'id': product.id}) }}"
                   class="btn btn-warning">Edit</a>
            {% endif %}
            {% if is_granted("delete", product) %}
                <a href="{{ path('product_delete', {'id': product.id}) }}"
                   class="btn btn-danger">Delete</a>
            {% endif %}
            {% include "cart/cart-item-shift-button.html.twig" %}
        </span>
    </div>
{% endblock %}

