{#<div class="media text-muted pt-3">#}
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <span class="d-block">
            <ul>
                    <small>
                        <li>Product: {{ product.name }}</li>
                        <li>Price: {{ product.price }}</li>
                        <li>By: {{ product.owner.username }}</li>
                    </small>
                    <br>
{#                <a href="{{ path('', {'username': product.user.username}) }}">#}
{#                    <strong class="text-gray-dark">By: {{product.user.username}}</strong>#}
{#                </a>#}
            </ul>
        </span>
{#</div>#}